<!DOCTYPE html>
<html>
<head>
	<title>首页-宋正腾的个人网站</title>
</head>
<body>
	<h1>网站建设中...</h1>
	<p>个人信息：</p>
	<li>最爱Java、平时喜欢写写Android。偶尔也撸两行C++</li>
	<li>最近最学Django，喜欢Python简洁语法形式</li>
	<li>“Talk is cheap，show me the code!”</li>
	<li><a href="https://github.com/fallblank">Github</a></li>
	<li><a href="http://www.cnblogs.com/fallblank/">博客园</a></li>
	<li><a href="http://weibo.com/5270980727/profile?topnav=1&wvr=6&is_all=1">新浪微博</a></li>
	<br>...
	<p>女神镇楼：</p>
	<img src="https://img1.doubanio.com/img/celebrity/large/59227.jpg">
</body>
</html>